## IO

In [17]:
open("temp.txt","w") do io
    write(io,"i suck")
end

6

In [35]:
function readTempFile(fname::AbstractString)
    open(f->read(f,String), fname)
end

readTempFile (generic function with 2 methods)

In [19]:
function remTempFile()
    rm("temp.txt")
end

remTempFile (generic function with 1 method)

In [22]:
open("temp.txt","a") do io
    write(io," i really do")
end

12

In [36]:
readTempFile("temp.txt")

"i suck\n i really do i really do"

## CSV

In [ ]:
using Pkg
Pkg.add("DataFrames")

In [ ]:
open("testCSV.csv","w")

In [29]:
using CSV
using DataFrames

In [31]:
df=DataFrame(
    NAME=["skjdnf","skdjfn","sdkjnf","fnn"],
    AGE=[1,2,3,4],
    SALARY=[1212,234,234,5545445]
)

4×3 DataFrame
 Row │ NAME    AGE    SALARY
     │ String  Int64  Int64
─────┼────────────────────────
   1 │ skjdnf      1     1212
   2 │ skdjfn      2      234
   3 │ sdkjnf      3      234
   4 │ fnn         4  5545445

In [32]:
CSV.write("testCSV.csv",df)

"testCSV.csv"

In [42]:
CSV.read("testCSV.csv",DataFrame)

4×3 DataFrame
 Row │ NAME     AGE    SALARY
     │ String7  Int64  Int64
─────┼─────────────────────────
   1 │ skjdnf       1     1212
   2 │ skdjfn       2      234
   3 │ sdkjnf       3      234
   4 │ fnn          4  5545445

## Matrices

In [56]:
function createMatrix(n::Int64,m::Int64)
    mtrx=zeros(Int64,n,m)
    for i in eachindex(mtrx)
        mtrx[i]=parse(Int64,readline())
    end
    println(mtrx)
    return [minimum(mtrx),maximum(mtrx)]
end

createMatrix (generic function with 2 methods)

In [62]:
minMax=createMatrix(2,3)
println("min: $(minMax[1]), max: $(minMax[2])")

stdin> 1
stdin> 2
stdin> 3
stdin> 4
stdin> 5
stdin> 6
[1 3 5; 2 4 6]
min: 1, max: 6